.button {
    padding: 15px;
    width: 100%;
    border: none;
    font-weight: 600;
    font-size: 18px;
    border-radius: 15px;
    cursor: pointer;
    box-sizing: border-box;
    margin: 5px 0;
}

.button_bg_white {
    background-color: white;
    color: rgb(99, 95, 199);
}

.button_bg_purple {
    background-color: rgb(99, 95, 199);
}