.modal_container {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
}

.modal_content{
    padding: 30px;
    border-radius: 15px;
    background-color: var(--bg-content-gray);
    width: 25%;
    max-height: 80vh;
    overflow-y: auto;
}

.modal_content h2 {
    margin: 0 0 15px 0;
}