.theme_switcher_container {
    border-radius: 10px;
    background: #15141475;
    padding: 10px;
    fill: white;
    margin-top: 30px;
    margin-left: 15px;
    display: flex;
    justify-content: center;
}

.theme_switcher_container svg {
    margin: 0 25px;
}