.select {
    padding: 15px;
    box-sizing: border-box;
    width: 100%;
    cursor: pointer;
    font-size: 18px;
    background-color: var(--bg-content-dark-blue);
    border-radius: 15px;
    border-color: var(--bg-content-gray);
}