.container {
    position: relative;
}

.dots {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    height: 25px;
    margin-left: 25px;
    position: relative;
}

.dot {
    width: 7px;
    height: 7px;
    background-color: var(--color-text-gray);
    border-radius: 50%;
}

.modal_content {
    width: 150px;
    position: absolute;
    top: 30px;
    left: -110px;
    padding: 15px;
    background-color: var(--bg-content-dark-blue);
    box-shadow: rgba(54, 78, 126, 0.25) 0px 10px 20px;
    border-radius: 15px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}