.board_link {
    cursor: pointer;
    list-style: none;
    padding: 7px 65px 7px 25px;
    margin-bottom: 15px;
    color: gray;
    fill: gray;
}

.board_link svg {
    margin-right: 10px;
}

.board_link_active {
    color: white;
    fill: white;
    background-color: rgb(99, 95, 199);
    box-sizing: border-box;
    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
}

.boards_title {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
    margin: 0;
}