.boards_list {
    margin: 0;
    padding: 0;
}

.add_new_board_button {
    color: rgb(99, 95, 199);
    fill: rgb(99, 95, 199);
    background: none;
    margin-left: 25px;
    margin-top: 25px;
    border: none;
    display: flex;
    align-items: center;
    padding: 0;
    cursor: pointer;
    font-size: 18px;
}

.add_new_board_button svg {
    margin-right: 10px;
}