.boards_container {
   
}

.boards_list {
    margin: 0;
    padding: 0;
}

.add_new_board_button {
    color: blueviolet;
    fill: blueviolet;
    background: none;
    margin-left: 25px;
    margin-top: 25px;
    border: none;
    display: flex;
    align-items: center;
    padding: 0;
    cursor: pointer;
    font-size: 18px;
}