.column_container {
    margin-right: 45px;
    width: 280px;
    flex-shrink: 0;
}

.column_header {
    display: flex;
    align-items: center;
}

.empty_column {
    background: var(--bg-content-gray-gradient);
    border-radius: 15px;
    height: 80%;
}