.boolean_input_container {
    display: flex;
    padding: 7px;
    margin-bottom: 10px;
    align-items: center;
    background-color: var(--bg-content-dark);
    cursor: pointer;
    box-sizing: border-box;
    border-radius: 5px;
}

.boolean_input_container input {
    margin-right: 15px;
}

input[type="checkbox"] {
    appearance: none;
    width: 15px;
    height: 15px;
    background-color: var(--bg-content);
    border: 1px solid var(--color-text-gray);
    border-radius: 4px;
}

input[type="checkbox"]:checked {
    background-color: var(--bg-content-purple);
 }
  
input[type="checkbox"]:checked::after {
    content: "✔";
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boolean_input_container p {
    margin: 0;
}

.boolean_input_container__active {
    background-color: var(--bg-content-dark-purple);
    color: var(--color-text-gray);
}

.boolean_input_container__active p {
    font-weight: 400;
    text-decoration: line-through;
}