:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --bg-content-gray: rgb(43, 44, 55);
  --bg-content-gray-gradient: linear-gradient(180deg, #2b2c3740, #2b2c3720);
  --bg-content-dark-blue: rgb(32, 33, 44);
  --bg-content-purple: rgb(99, 95, 199);
  --bg-content-dark-purple: rgba(100, 96, 199, 0.25);
  --color-text-danger: red;
  --color-text-gray: rgb(130, 143, 163);
}

body {
  margin: 0;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
