:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: var(--bg-content-dark-purple);
  border-radius: 15px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--bg-content-purple);
}

body {
  margin: 0;
  color: var(--color-text);
}

body.dark-theme {
  --bg-content: rgb(43, 44, 55);
  --bg-content-dark: rgb(32, 33, 44);
  --bg-content-gray-gradient: linear-gradient(180deg, #2b2c3740, #2b2c3720);
  --bg-content-purple: rgb(99, 95, 199);
  --bg-content-dark-purple: rgba(100, 96, 199, 0.25);
  --color-text-danger: red;
  --color-text-gray: rgb(130, 143, 163);
  --color-text: white;
  --border: rgb(62 63 78);
  --altertnative-button: white;
}

body.light-theme {
  --bg-content: white;
  --bg-content-dark: rgb(244 247 253);
  --bg-content-gray-gradient: linear-gradient(180deg, #e9effa, #e9effa80);
  --bg-content-purple: rgb(99, 95, 199);
  --bg-content-dark-purple: rgba(100, 96, 199, 0.25);
  --color-text-danger: red;
  --color-text-gray: rgb(130, 143, 163);
  --color-text: rgb(0 1 18);
  --border: rgb(228 235 250);
  --altertnative-button: rgba(99, 95, 199, 0.098);
}